.CheckoutItem {
    display: flex;
}

.MealImg {
    width: 150rem;
}

.MealImg img {
    width: 100%;
}

.Desc {
    flex: auto;
    margin-left: 20rem;
}

.Title {
    font-size: 24rem;
}

.PriceOuter {
    display: flex;
    justify-content: space-between;
}
.Price {
    font-size: 30rem;
    font-weight: bold;
}

.Price::before {
    content: '¥';
    font-size: 24rem;
    font-weight: normal;
}