.Meal {
    display: flex;
    padding: 20rem;
    border-bottom: 1px #f2f2f2 solid;
    align-items: center;
}

.ImgBox {
    min-width: 200rem;
    max-width: 600rem;
}

img {
    width: 100%;
    max-width: 200rem;
}

.DescBox {
    flex: auto;
}

.Title {
    font-weight: normal;
    font-size: 36rem;
    margin: 0;
}

.Desc {
    color: #bbb;
    font-size: 20rem;
}

.PriceWapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20rem;
}

.Price {
    font-weight: bold;
    font-size: 36rem;
}

.Price::before {
    content: '¥';
    font-size: 24rem;
}