.learn-logs {
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    background-color: #37e4cd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.btn {
    height: 30px;
    width: 150px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: coral;
    border: 1px coral solid;
    cursor: pointer;
    

}