.item {
    display: flex;
    margin: 10px auto;
    padding: 6px;
    background-color: #FCBF49;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2); 
}

.content {
    width: 50%;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.desc {
    font-size: 16px;
}
.time {
    color:red;
}
.btn.removeBtn {
    height: 30px;
    width: 30px;
}